################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/CourseShopApp/FileContentIndex
/.vs/ShopApp/FileContentIndex/5acd80e1-f200-41ef-8b51-6909f5933681.vsidx
/.vs/ShopApp/FileContentIndex
/.vs/ShopApp/FileContentIndex
/.vs/ShopApp/v17/.suo
